<mat-card class="example-card">
  <img mat-card-image class="image" src="/assets/img/Rating-star.png">
  <mat-card-content style="display: flex; flex-direction: column">
    <mat-card-title class="margin-info">Ocena: 5 {{rating.grade}}</mat-card-title>
    <mat-card-content style="width: 1000px;">{{rating.content}}
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Duis accumsan lectus ligula, nec rhoncus nulla iaculis at.
      Mauris eu ex et lectus lacinia semper. Maecenas eget dictum est.
      Fusce porta lorem eget augue dignissim sollicitudin.
      Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Aenean eget orci id nunc rhoncus
      pulvinar vel nec erat. Donec et magna sit amet turpis semper
      tincidunt. Duis ut gravida nulla.
    </mat-card-content>
  </mat-card-content>
</mat-card>

