<mat-list style="margin-left: 10%; margin-right: 10%; margin-bottom: 50px;">
  <div mat-subheader>Użytkownicy:</div>
  <mat-list-item style="display: flex" *ngFor="let user of users">
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <div style="margin-right: 20px;">
      <div mat-line>Nazwa użytkownika:</div>
      <div mat-line>{{user.username}}</div>
    </div>
    <div style="margin-right: 20px;">
      <div mat-line>Imię i nazwisko:</div>
      <div mat-line>{{user.name}} {{user.surname}}</div>
    </div>
    <div style="margin-right: 20px;">
      <div mat-line>Adres:</div>
      <div mat-line>{{user.street}} {{user.streetNumber}} {{user.city}} {{user.postalCode}}</div>
    </div>
    <div style="margin-right: 20px;">
      <div mat-line>Numer telefonu:</div>
      <div mat-line>{{user.phoneNumber}}</div>
    </div>
    <div style="margin-right: 20px;">
      <div mat-line>E-mail:</div>
      <div mat-line>{{user.mail}}</div>
    </div>
    <div style="margin-right: 20px;">
      <div mat-line>Aktywny:</div>
      <div mat-line>{{user.active}}</div>
    </div>
    <button mat-raised-button style=" width: 150px; margin-bottom: 20px; margin-top: 20px;" color="primary"
    >Edytuj</button>
  </mat-list-item>
</mat-list>
