<mat-card class="example-card">
  <img mat-card-image class="image" src="../../../../assets/img/margherita.png">
  <mat-card-content>
    <mat-card-title class="margin-info">{{pizza.id}}.{{pizza.name}}</mat-card-title>
    <mat-card-content style="padding-right: 100px; width: 300px">{{pizza.description}}</mat-card-content>
  </mat-card-content>
  <mat-card-content class="price">
    <mat-card-content class="padding">
      <p class="text">Mała 32cm</p>
      <p class="text">{{pizza.smallPrice}} zł</p>
      <button mat-button (click)="addOrderSmall()">Zamów</button>
    </mat-card-content>
    <mat-card-content class="padding">
      <p class="text">Średnia 45cm</p>
      <p class="text">{{pizza.mediumPrice}} zł</p>
      <button mat-button (click)="addOrderMedium()">Zamów</button>
    </mat-card-content>
    <mat-card-content class="padding">
      <p class="text">Duża 60cm</p>
      <p class="text">{{pizza.bigPrice}} zł</p>
      <button mat-button (click)="addOrderLarge()">Zamów</button>
    </mat-card-content>
  </mat-card-content>
</mat-card>
