<mat-card class="example-card">
  <mat-card-title style="margin-bottom: 30px;">Zaloguj się</mat-card-title>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Login</mat-label>
    <input matInput type="text" #login>
    <button matSuffix mat-icon-button (click)="login.value=' '">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Hasło</mat-label>
    <input matInput type="password" #password>
    <button matSuffix mat-icon-button (click)="password.value=' '">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button style=" width: 150px; margin-bottom: 20px; margin-top: 20px;" color="primary"
          (click)="logIn(login.value, password.value)"
  >Zaloguj</button>
</mat-card>
