.main-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}
.main-div2{
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  align-items: center;
}
