<span id="promo" class="span">Promocje</span>
<mat-card class="example-card">
  <img mat-card-image class="image" src="../../../../assets/img/margherita.png">
  <mat-card-content>
    <mat-card-title class="margin-info">Happy Tuesday</mat-card-title>
    <mat-card-content style="padding-right: 100px; width: 630px">
      W każdy wtorek 20% rabatu na wszystko
    </mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <img mat-card-image class="image" src="../../../../assets/img/margherita.png">
  <mat-card-content>
    <mat-card-title class="margin-info">Happy Thursday</mat-card-title>
    <mat-card-content style="padding-right: 100px; width: 630px">
      W każdy czwartek 10% rabatu na wszystko
    </mat-card-content>
  </mat-card-content>
</mat-card>

