<mat-card id="info" class="example-card">
  <mat-card-content style="width: 50%; margin-right: 50px;">
    <mat-card-title>Informacje o pizzerii</mat-card-title>
    <mat-card-subtitle>
      Pizzeria Włoska Robota to ceniona restauracja,
      oferująca wszechstronne usługi gastronomiczne oraz
      obszerny wybór pysznych potraw, które sprostają oczekiwaniom wymagającego klienta.
      Doświadczony personel kucharzy i kelnerów zapewnia całkowite zadowolenie z poziomu obsługi,
      jak i standardu podawanych dań. Klienci mogą oczekiwać również na bardzo przystępne ceny
      i przyjazną atmosferę lokalu. W ofercie lokalu największa Pizza w mieście.
      Serdecznie zapraszamy.
    </mat-card-subtitle>
    <p class="subtitle">
      <mat-icon class="icon">place</mat-icon>
      Warszawa, ul. Krakowska 12b
    </p>
    <p class="subtitle">
      <mat-icon class="icon">phone</mat-icon>
      885 667 986
    </p>
  </mat-card-content>
  <mat-card-content style="width: 50%">
    <mat-toolbar>Godziny otwarcia:</mat-toolbar>
    <mat-card-content style="display: flex; justify-content: space-between; margin-top: 20px;">
      <mat-card-content>
        <p class="text">Poniedziałek</p>
        <p class="text">Wtorek</p>
        <p class="text">Środa</p>
        <p class="text">Czwartek</p>
        <p class="text">Piątek</p>
        <p class="text">Sobota</p>
        <p class="text">Niedziela</p>
      </mat-card-content>
      <mat-card-content>
        <p class="text2">12:00 - 22:00</p>
        <p class="text2">12:00 - 22:00</p>
        <p class="text2">12:00 - 22:00</p>
        <p class="text2">12:00 - 22:00</p>
        <p class="text2">12:00 - 23:00</p>
        <p class="text2">12:00 - 23:00</p>
        <p class="text2">14:00 - 22:00</p>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>
</mat-card>
