<img class= "top-image" src="assets/img/PizzeriaWloskaRobotaTop.png">
<mat-card class="example-card">
    <p class="title">Włoska Robota Pizzeria</p>
    <p class="subtitle">
      <mat-icon class="icon">place</mat-icon>
      Warszawa, ul. Krakowska 12b
    </p>
  <p class="subtitle">
    <mat-icon class="icon">phone</mat-icon>
    885 667 986
  </p>
</mat-card>
<mat-card class="example-card">
  <mat-card-subtitle class="margin-left">
    <span class="subtitle2">Menu</span>
    <span class="subtitle2">Informacje</span>
    <span class="subtitle2">Promocje</span>
  </mat-card-subtitle>
</mat-card>
<mat-card class="example-card">
    <p class="subtitle3">
      Minimalna kwota zamówienia: 30zł
    </p>
    <p class="subtitle3">
      Dowóz na terenie miasta: 0zł
    </p>
</mat-card>

